<% include partials/header.ejs %>

<div class="container">
  <h1>Gitchu you some close food!</h1>
  <form class="form-group" action="/searchresults">
    <label>Enter your location</label>
    <input type="text" class="form-control" name="myCity" placeholder="Where you at?">
    <br>
    <button type="submit" class="btn btn-primary">Gitchu Sum</button>
  </form>
</div>

<% include partials/footer.ejs %>